@use './mixins_variables.scss' as *;
.single-movie  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    &__img {
        width: 300px;
        border-radius: 10px;
        margin-bottom: 1.5rem;
    }

    &__h2 {
        font-family: $font-header;
        font-size: 2rem;
        color: $primary-text-color;
        margin-bottom: 1rem;
    }

    &__p {
        font-family: $font-body;
        font-size: 1rem;
        color: $secondary-text-color;
        line-height: 1.5;
        max-width: 600px;
        text-align: center;
    }
}