@use './mixins_variables.scss' as *;
.single-movie  {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;

    @include desktop {
    width: auto;
    flex-direction: row;
    justify-content: center;
  }


    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 2rem;
        text-align: left;
        width: 400px;
        background-color: $card-color;

        @include desktop {
    height: 600px;
    width: auto;
    flex: 1;
    padding: 4rem;
  }
    }

    &__img {
        width: 400px;
        height: 600px;
        object-fit: cover;
        margin: 0;

         @include desktop {
   flex-shrink: 0;
  }
    }

    &__title {
        width: 100%;
        font-family: $font-header;
        font-size: 1.75rem;
        color: $primary-text-color;
        margin: 0;
        padding-top: 1rem;

        @include desktop {
            padding-top: 4rem;
        }
    }

    &__intro {
        font-family: $font-body;
        font-size: 0.875rem;
        color: $secondary-text-color;
        line-height: 1.5;
        margin-top: 0;
    }
}