@use './mixins_variables.scss' as *;
.single-movie  {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;


    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        text-align: left;
        width: 400px;
        background-color: #626C7B;
    }

    &__img {
        width: 400px;
        height: 600px;
        object-fit: cover;
    }

    &__title {
        width: 100%;
        font-family: $font-header;
        font-size: 1.25rem;
        color: $primary-text-color;
        padding: 0;

    }

    &__intro {
        font-family: $font-body;
        font-size: 0.875rem;
        color: $secondary-text-color;
        line-height: 1.5;
    }
}