<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Test</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>
   <h1>Hello world</h1>
   <a href="/movies">Alla filmer</a>

  <%- include('partials/footer') %>
   <script src="/main.js"></script>

</body>
</html>

