<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css"/>
    <title>Filmer</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>Alla filmer</h1>
    <a href="/">Tillbaka till hem </a>

  <div class="header-container"></div>


  <div class="movies-wrapper">
    <div class="movie__page__movies"></div>
  </div>

    <%- include('partials/footer') %>
</body>
</html>